<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group mb-3">
    <%= form.text_field :name, class:"form-control", placeholder:"Name"  %>
  </div>

  <div class="field form-group mb-3">
    <%= form.text_area :description, class:"form-control", placeholder:"Description"  %>
  </div>

  <div class="field form-group mb-3">
    <%= form.select :team_members,Employee.all.pluck(:name),{prompt:'Members'},{class: "form-control"}%>
  </div>

  <div class="field form-group mb-3">
    <%= form.select :team_lead,Employee.all.pluck(:name),{prompt:'Leader'},{class: "form-control"}%>
  </div>

  <div class="field form-group mb-3" class="form-control">
    <%= form.select :division_id,Division.all.pluck(:name,:id),{prompt:'Division'},{class: "form-control"}%>
  </div>



  <div class="actions">
    <%= form.submit class:"btn btn-secondary"%>
  </div>
<% end %>
