<p style="color: green"><%= notice %></p>

<%= render @division %>

<div>
  <%= link_to "Edit this division", edit_division_path(@division), class:"btn btn-secondary"  %> 
  <%= link_to "Back to divisions", divisions_path, class:"btn btn-secondary" %>
  <br>
  <br>
  <%= button_to "Destroy this division", @division, method: :delete, class:"btn btn-dark"  %>
</div>
