<%= form_with(model: goal) do |form| %>
  <% if goal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
        <% goal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group mb-3">
    <%= form.text_field :title, class:"form-control", placeholder:"Title" %>
  </div>

  <div class="field form-group mb-3">
    <%= form.text_area :description, class:"form-control", placeholder:"Description" %>
  </div>

  <div class="field form-group mb-3">
    <%= form.datetime_field :start_date, class:"form-control", placeholder:"Start Date" %>
  </div>

  <div class="field form-group mb-3">
    <%= form.datetime_field :finish_date, class:"form-control", placeholder:"Finish Date" %>
  </div>

  <div class="field form-group mb-3">
    <%= form.text_field :team_name, class:"form-control", placeholder:"Team Name" %>
  </div>

  <div class="field form-group mb-3">
    <%= form.text_field :goal_status, class:"form-control", placeholder:"Status" %>
  </div>

  <div class="field form-group mb-3" class="form-control">
    <%= form.select :team_id,Team.all.pluck(:name,:id),{prompt:'Team'},{class: "form-control"}%>
  </div>



  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
