<div id="<%= dom_id goal %>">
  <p>
    <strong>Title:</strong>
    <%= goal.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= goal.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= goal.start_date %>
  </p>

  <p>
    <strong>Finish date:</strong>
    <%= goal.finish_date %>
  </p>

  <p>
    <strong>Team name:</strong>
    <%= goal.team_name %>
  </p>

  <p>
    <strong>Goal status:</strong>
    <%= goal.goal_status %>
  </p>

   <p>
    <strong>Team Id:</strong>
    <%= goal.team_id %>
  </p>

</div>
