<p style="color: green"><%= notice %></p>

<%= render @goal %>

<div>
  <%= link_to "Edit this goal", edit_goal_path(@goal), class:"btn btn-secondary" %> 
  <%= link_to "Back to goals", goals_path, class:"btn btn-dark" %>
  <br>
  <br>
  <%= button_to "Destroy this goal", @goal, method: :delete, class:"btn btn-secondary" %>
</div>
